/*
 *  over-riding html elements
*/
body {
  font-size: 14px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h6 {
  font-size: 12px;
}

blockquote {
  padding: 10px 20px;
}

.dropdown-item:active {
  background-color: transparent !important;
}

.indexpage.navbar-nav > .nav-item .nav-link:hover {
  color: #01bc8c;
}

/*** custom code added by seenu **/
.fs16 {
  font-size: 16px;
}
.profile-basic button.btn-info {
    background: #0053c3;
    color: #fff;
    border-radius: unset;
    padding: 9px 35px;
    font-size: 16px !important;
    border-color: #0053c3;
}
.profile-basic button.btn-danger {
    background: #de4b39;
    color: #fff;
    border-radius: unset;
    padding: 9px 15px;
    font-size: 16px !important;
    border-color: #de4b39;
    margin-left: -5px;
}