@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.banner1_content h1 {
	    font-size: 1.2em !important;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1365px) {
	section.section1 .bg-img-hero {
	    background-size: contain !important;
	}
	.slider2 .banner1_content {
	    top: -7px !important;
    	left: 95px !important;
	}
	.banner1_content h1 {
    	font-size: 1.4em !important;
	}
	.big_btn_shadow {
	    padding: 12px 16px !important;
	    font-size: 15px !important;
	    width: 165px !important;
	}
	.slider3 .banner1_content h1 {
	    font-size: 1.4em !important;
	}
	.slider3 .banner1_content .group_button {
	    top: 30px !important;
	}
	.slider4 .banner1_content {
    	left: 105px !important;
	}
	.slider6 .banner1_content {
	    top: 30px !important;
	    left: 95px !important;
	}
	.singup-body .form-group.form-check label {
	    font-size: 11px;
	}
    .new-page-bg {
        background-position: 50% 13px !important;
    }

    .navbar-expand-xl .nav_sub {
        display: none !important;
    }

    .navbar-expand-xl .nav_sub .sub_nav_menu{
        background: none;
    }
}

@media (min-width: 1200px){
    .navbar-expand-xl .nav_sub {
        display: none !important;
    }
}
@media only screen and (max-width: 410px) {
    .profile-basic button.btn-info span {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .only-desktop {
        display: none !important;
    }
    .only-mobile {
        display: block !important;
    }
    .space-1, .space-top-1 {
        padding-top: 1rem!important;
    }
    .space-1, .space-bottom-1 {
        padding-top: 1rem!important;
    }
    .space-2, .space-top-2 {
        padding-top: 2rem!important;
    }
    .space-2, .space-bottom-2 {
        padding-bottom: 2rem!important;
    }
    .navbar-vertical {
        display: none !important;
    }
    .navbar-expand-xl .nav_sub .sub_nav_menu{
        background: none;
    }
    /* .align-items-center .profile_text{
        display: none;
    } */
    .navbar-light .profile_nav{
        margin-left: 296px;
        margin-top: -30px;
    }
    .btn-advanced {
        display: none;
    }
    .w-sm-100 {
        width: 100% !important;
    }
    .explore-more .border-right ul {
        border-bottom: 1px solid #8e8e8e;
    }
    .w-lg-60 {
        width: 100% !important;
    }
    .eiliana-agility {
        top: 0px !important;
    }
    .video {
        margin-bottom: 25px;
    }
    .contract-job .position-relative {
        text-align: center !important;
    }

    .section1 .slide {
        height: 315px !important;
    }

    .space-lg-4 {
        padding-top: 0rem !important;
        padding-bottom: 1rem !important;
    }

    .banner1_content{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        text-align: center;
    }
   .slider1 .banner1_content .group_button{
   	    top: 0px !important;
   	    left: 0px !important;
   	    text-align: center !important;
   	    padding-top: 10px !important;
   }
   .big_btn_shadow {
        font-size: 14px !important;
        width: 150px !important;
    }
   .group_button{
   	   padding-top: 10px !important;
   }
   .slider1 .banner1_content{
       left: 0 !important;
       top: 100% !important;
       text-align: center;
   }
   .banner1_content h1 {
        font-size: 16px !important;
    }
    section.section1 .slider3 .bg-img-hero {
        height: unset !important;
    }
    .slider3 .banner1_content h1 {
        position: relative;
        left: 0px;
        top: 40px;
    }
    .slider3 .banner1_content .group_button {
        top: 30px !important;
    }
    .slider2 .banner1_content {
        top: 160px !important;
        left: -5px !important;
    }
    .slider2 .banner1_content .group_button {
        right: -10px !important;
        top: 0px !important;
    }
    span.fa.fa-angle-right.slick-arrow {
        right: 0;
    }
    span.fa.fa-angle-left.slick-arrow {
        left: 0;
    }
    .slider4 .banner1_content {
        top: 160px !important;
        left: 0px !important;
    }
    .slider4 .banner1_content .group_button {
        bottom: 0px !important;
        left: 5px !important;;
    }
    section.section1 .slider5 .bg-img-hero {
        height: unset !important;
    }
    .slider5 .banner1_content {
        left: 5px !important;
        top: 134px !important;
    }
    .slider5 .banner1_content .group_button {
        top: 18px !important;
        left: 7px !important;
    }
    section.section1 .slider6 .bg-img-hero {
        background-size: contain !important;
        height: unset !important;
    }
    .slider6 .banner1_content {
        top: 167px !important;
        left: 9px !important;
    }
    .slider6 .banner1_content .group_button {
        left: 0px !important;
        top: 0px !important;
    }
    .new-page-bg {
        background-size: 0 0 !important;
    }
    .contract-job h1.h2.mb-3 {
        font-size: 32px !important;
    }
    .hire .contract-body .display-5 {
        margin-top: 25px;
        font-size: 18px !important;
    }
    .hire .contract-body img {
        width: 100%;
    }
    .hire .contract-body .find_job_button {
        bottom: -50px !important;
    }
    .our-slotuion p {
        min-height: 140px !important;
    }
    .our-slotuion h3 {
        min-height: 25px !important;
    }
    .our-slotuion h6 {
        min-height: 25px !important;
    }
    section.section1 .bg-img-hero {
        background-position: top !important;
    }
    .slider3 .banner1_content {
        top: 90% !important;
    }
    .banner1_content h1 {
        margin: 10px;
    }
    .account-second-side {
        top: -110px;
    }
    .account-register .card {
        box-shadow: unset;
    }
    .offset-md-20 {
        margin-left: 0%;
    }
    .stafflead-basic button.btn-info {
        width: 75%;
    }
    .search-project {
        padding-left: 0px;
    }
    .search-project .search-image .names {
        float: unset;
        text-align: center;
        margin: 17px 0px;
    }
    .hire-talent .form-check-inline {
        display: block;
    }
    .howitswork  .client{
        margin-left: 0px;
    }
    .howitswork  .red{
        margin-right: 37px;
    }
    .howitswork  .it_work {
        width: 285px;
    }
    .howitswork  .space-2{
        padding-right: 0px;
    }
    .howitswork  .p-0{
        margin-left: 0px;
    }

    .teams h2 {
        font-size: 20px;
        margin-top: 0px;
    }
    .bench-img{
        display: none;
    }
    .basic-info .form-check {
        display: block;
        margin-left: 0 !important;
    }
    .profile-basic button.btn-info {
        width: 46%;
        height: 55px;
        line-height: 20px;
        font-size: 14px!important;
        text-align: center;
    }
    .profile-basic button.btn-info span {
        position: relative;
        top: -10px;
    }
    .freee-secons-side {
        margin-top: 35px;
    }
    .freee-secons-side h4 {
        font-size: 25px;
        padding: 35px 0px 28px;
    }
    .bg-red .px-5.py-2 {
        padding-left: 1rem !important;
    }
    .singup-body .btn-group .btn {
        padding: 0 26px!important;
        height: 50px!important;
        margin-left: 0px!important;
        width: auto;
    }
    .custome-footer a.nav-link {
        font-size: 13px;
    }

    .welcome img{
        width: 500px;
        margin-left: 0px;
        padding-top: 10px;
    }
    .welcome .content {
        margin-top: 45px;
    }
    .content{
        margin-bottom: 145px;
    }
    .welcome-content .welcome{
        margin-bottom: 145px;
    }
    .welcome-page .account-second-side a.blue {
        color: #ffffff;
        font-size: 13px !important;
        border-radius: 0px;
        padding: 8px 12px;
        font-weight: 400;
        background-color: #0b17ab;
        border-color: #0b17ab;
        border-radius: 40px;
        float: left;
        margin-left: -2px;
    }
    .welcome-page .account-second-side a.red {
        color: #ffffff;
        font-size: 13px !important;
        border-radius: 0px;
        padding: 8px 12px;
        font-weight: 400;
        background-color: #dc210a;
        border-color: #b72615;
        border-radius: 40px;
        float: right;
    }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 768px) and (orientation: landscape) {
    .explore-more .only-mobile img.img-fluid {
        width: 85%;
    }
    .section1 .slide {
        height: 285px !important;
    }
    .new-page-bg .explore-more li {
        margin: 0px 0px !important;
    }
    .our-slotuion h6 {
        min-height: 35px !important;
    }
    .our-slotuion p {
        min-height: 165px !important;
    }
    .our-slotuion h3 {
        min-height: 36px !important;
    }

    .navbar-vertical {
        display: none !important;
    }

}
 /* ============ desktop view ============ */
 @media all and (min-width: 992px) {
    .custom_header .dropdown-menu li{
        position: relative;
     }
    .custom_header .nav-item .submenu1{
        display: none;
        position: absolute;
        left:100%;
        top:-7px;
    }
    .custom_header .nav-item .submenu1-left{
        right:100%;
        left:auto;
    }
    .custom_header .dropdown-menu > li:hover{
        background-color: #f1f1f1
    }
    .custom_header .dropdown-menu li .submenu_down{
        font-size: 14px;
        font-weight: 500;
        color: #000 !important;
     }

    .custom_header .submenu_item {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
    }

    .custom_header .custom_header ul li a {
        padding: 6px 16px;
    }

    .teams .col-lg-8 {
        flex: 0 0 66.6666666667%;
        max-width: 69.666667%;
    }
    .teams .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 30.333333%;
    }
    /* .device-iphone-x-screen {
        position: absolute;
        top: 14%;
        left: 12%;
        width: 69%;
        height: 100%;
    } */
    
}
@media (max-width: 991px) {
    .custom_header .dropdown-menu .dropdown-menu{
        margin-left:0.7rem;
        margin-right:0.7rem;
        margin-bottom: .5rem;
    }
    .navbar-vertical {
        display: none !important;
    }
}
